.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImg {
  height: 240px;
  width: 400px;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #159566;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
